projects/P02-VehiclesAPI/vehicles-api/src/main/resources/price.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.pricing.udacity.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PricePortImplService" targetNamespace="http://service.pricing.udacity.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.pricing.udacity.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.pricing.udacity.com/">
  <xs:element name="getPrice" type="tns:getPrice"/>
  <xs:element name="getPriceResponse" type="tns:getPriceResponse"/>
  <xs:complexType name="getPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:priceRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="priceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="vehicleId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPriceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:priceResponse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="priceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="currency" type="xs:string"/>
      <xs:element minOccurs="0" name="price" type="xs:decimal"/>
      <xs:element minOccurs="0" name="vehicleId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceException" type="tns:PriceException"/>
  <xs:complexType name="PriceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPriceResponse">
    <wsdl:part element="tns:getPriceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PriceException">
    <wsdl:part element="tns:PriceException" name="PriceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrice">
    <wsdl:part element="tns:getPrice" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PricePortImpl">
    <wsdl:operation name="getPrice">
      <wsdl:input message="tns:getPrice" name="getPrice">
    </wsdl:input>
      <wsdl:output message="tns:getPriceResponse" name="getPriceResponse">
    </wsdl:output>
      <wsdl:fault message="tns:PriceException" name="PriceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PricePortImplServiceSoapBinding" type="tns:PricePortImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPrice">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPrice">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPriceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PriceException">
        <soap:fault name="PriceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PricePortImplService">
    <wsdl:port binding="tns:PricePortImplServiceSoapBinding" name="PricePortImplPort">
      <soap:address location="http://localhost:8082/services/price"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>